# Similarité de compétences techniques

Objectif: Construire une métrique de similarité entre compétences techniques à partir de profils d'employés

Exercices:
1. Exploration et visualisation de la donnée
2. Trouver les 10 compétences les plus pertinentes à un métier. Par exemple: 'analyste de risques'
3. Trouver les 10 compétences les plus similaires à une autre compétence. Par exemple: 'Python'
4. Trouver le métier qui a le plus de compétences en commun avec un autre métier. Par exemple 'responsable de projet'

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.spatial.distance import cosine
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_skills = pd.read_csv('employee_skills.csv') #get skills per profile
df_profiles = pd.read_csv('employee_profiles.csv') #get job title per profile

In [3]:
df_profiles.head()

   id_profile               jobtitle
0      918318  responsable de projet
1      835172              webmaster
2      814422            développeur
3      503545  responsable de projet
4       49282  responsable de projet

In [4]:
df_skills.head()

   id_profile               skill
0      918318          Consulting
1      918318          Management
2      918318  Project Management
3      918318   Change Management
4      918318           Marketing